<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myResumeEducationLabel" jhiTranslate="haipinApp.resumeEducation.home.createOrEditLabel">Create or edit a Resume Education</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!resumeEducation.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="resumeEducation.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="haipinApp.resumeEducation.resumeId" for="field_resumeId">Resume Id</label>
            <input type="number" class="form-control" name="resumeId" id="field_resumeId"
                [(ngModel)]="resumeEducation.resumeId" required />
            <div [hidden]="!(editForm.controls.resumeId?.dirty && editForm.controls.resumeId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.resumeId?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.resumeId?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="haipinApp.resumeEducation.schoolName" for="field_schoolName">School Name</label>
            <input type="text" class="form-control" name="schoolName" id="field_schoolName"
                [(ngModel)]="resumeEducation.schoolName" required minlength="2" maxlength="100" />
            <div [hidden]="!(editForm.controls.schoolName?.dirty && editForm.controls.schoolName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.schoolName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.schoolName?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                   This field is required to be at least 2 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.schoolName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="haipinApp.resumeEducation.major" for="field_major">Major</label>
            <input type="text" class="form-control" name="major" id="field_major"
                [(ngModel)]="resumeEducation.major" required maxlength="50" />
            <div [hidden]="!(editForm.controls.major?.dirty && editForm.controls.major?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.major?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.major?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="haipinApp.resumeEducation.degree" for="field_degree">Degree</label>
            <input type="text" class="form-control" name="degree" id="field_degree"
                [(ngModel)]="resumeEducation.degree" required maxlength="20" />
            <div [hidden]="!(editForm.controls.degree?.dirty && editForm.controls.degree?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.degree?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.degree?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="haipinApp.resumeEducation.endYear" for="field_endYear">End Year</label>
            <input type="text" class="form-control" name="endYear" id="field_endYear"
                [(ngModel)]="resumeEducation.endYear" required minlength="4" maxlength="4" />
            <div [hidden]="!(editForm.controls.endYear?.dirty && editForm.controls.endYear?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.endYear?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.endYear?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 4 }">
                   This field is required to be at least 4 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.endYear?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4 }">
                   This field cannot be longer than 4 characters.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
