<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myResumeSkillLabel" jhiTranslate="haipinApp.resumeSkill.home.createOrEditLabel">Create or edit a Resume Skill</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!resumeSkill.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="resumeSkill.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="haipinApp.resumeSkill.resumeId" for="field_resumeId">Resume Id</label>
            <input type="number" class="form-control" name="resumeId" id="field_resumeId"
                [(ngModel)]="resumeSkill.resumeId" required />
            <div [hidden]="!(editForm.controls.resumeId?.dirty && editForm.controls.resumeId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.resumeId?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.resumeId?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="haipinApp.resumeSkill.skillName" for="field_skillName">Skill Name</label>
            <input type="text" class="form-control" name="skillName" id="field_skillName"
                [(ngModel)]="resumeSkill.skillName" required maxlength="20" />
            <div [hidden]="!(editForm.controls.skillName?.dirty && editForm.controls.skillName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.skillName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.skillName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="haipinApp.resumeSkill.masterLevel" for="field_masterLevel">Master Level</label>
            <input type="text" class="form-control" name="masterLevel" id="field_masterLevel"
                [(ngModel)]="resumeSkill.masterLevel" maxlength="20" />
            <div [hidden]="!(editForm.controls.masterLevel?.dirty && editForm.controls.masterLevel?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.masterLevel?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="haipinApp.resumeSkill.skillPercent" for="field_skillPercent">Skill Percent</label>
            <input type="number" class="form-control" name="skillPercent" id="field_skillPercent"
                [(ngModel)]="resumeSkill.skillPercent" required />
            <div [hidden]="!(editForm.controls.skillPercent?.dirty && editForm.controls.skillPercent?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.skillPercent?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.skillPercent?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="haipinApp.resumeSkill.skillRemark" for="field_skillRemark">Skill Remark</label>
            <input type="text" class="form-control" name="skillRemark" id="field_skillRemark"
                [(ngModel)]="resumeSkill.skillRemark" maxlength="100" />
            <div [hidden]="!(editForm.controls.skillRemark?.dirty && editForm.controls.skillRemark?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.skillRemark?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
