.cleartbox {
	padding: 50px 0px;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	color: gray;
}
select.form-control {
    margin-top: 15px;
    color: gray;
}
.form-control {
margin-top: 15px;
}
.cleartboxb {
	width: 500px;
	min-width: 390px;
	height: auto;
	margin: auto;
	border-radius:20px;
	border: 1px solid #48C1BC;
	padding: 20px 20px;
	box-sizing: border-box;
}
.zhaopintitle {
    color: #48c1bc;
    font-size: 36px;
    line-height: 40px;
    width: 100%;
    height: 50px;
    text-align: center;
}
.cleartfromgroup {
	margin-top: 10px;
	width: 100%;
	height: auto;
}
label {
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	color: black;
}
.cleartinput {
	width: 100%;
	height: 40px;
}
.cleartformcontrol {
	width: 100%;
	height: 40px;
	line-height: 40px;
	border: 1px solid #777777;
	padding: 0px 10px;
	font-size: 18px;
	border-radius: 10px;
	box-sizing: border-box;
	outline: none;
}
.cleartheader {
	width: 100%;
	height: 60px;
	font-size: 40px;
	line-height: 60px;
	color: #48C1BC;
	text-align: center;
}
.btn-default {
    margin: auto;
    color: white;
    background:#48c1bc;
}
