
<div *ngIf="card">
    <h2><span jhiTranslate="haipinApp.card.detail.title">Card</span> {{card.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="haipinApp.card.name">Name</span></dt>
        <dd>
            <span>{{card.name}}</span>
        </dd>
        <dt><span jhiTranslate="haipinApp.card.highestDegree">Highest Degree</span></dt>
        <dd>
            <span>{{card.highestDegree}}</span>
        </dd>
        <dt><span jhiTranslate="haipinApp.card.researchField">Research Field</span></dt>
        <dd>
            <span>{{card.researchField}}</span>
        </dd>
        <dt><span jhiTranslate="haipinApp.card.email">Email</span></dt>
        <dd>
            <span>{{card.email}}</span>
        </dd>
        <dt><span jhiTranslate="haipinApp.card.phone">Phone</span></dt>
        <dd>
            <span>{{card.phone}}</span>
        </dd>
        <dt><span jhiTranslate="haipinApp.card.workUnit">Work Unit</span></dt>
        <dd>
            <span>{{card.workUnit}}</span>
        </dd>
        <dt><span jhiTranslate="haipinApp.card.position">Position</span></dt>
        <dd>
            <span>{{card.position}}</span>
        </dd>
        <dt><span jhiTranslate="haipinApp.card.city">City</span></dt>
        <dd>
            <span>{{card.city}}</span>
        </dd>
        <dt><span jhiTranslate="haipinApp.card.user">User</span></dt>
        <dd>
            {{card.user?.id}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'card/'+ card.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
