<div>
    <h2>
        <span jhiTranslate="haipinApp.resumeProject.home.title">Resume Projects</span>
        <button class="btn btn-primary float-right create-resume-project" [routerLink]="['/', { outlets: { popup: ['resume-project-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="haipinApp.resumeProject.home.createLabel">
            Create new Resume Project
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="resumeProjects">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="haipinApp.resumeProject.resumeId">Resume Id</span></th>
            <th><span jhiTranslate="haipinApp.resumeProject.projectName">Project Name</span></th>
            <th><span jhiTranslate="haipinApp.resumeProject.positionName">Position Name</span></th>
            <th><span jhiTranslate="haipinApp.resumeProject.startDate">Start Date</span></th>
            <th><span jhiTranslate="haipinApp.resumeProject.endDate">End Date</span></th>
            <th><span jhiTranslate="haipinApp.resumeProject.projectRemark">Project Remark</span></th>
            <th><span jhiTranslate="haipinApp.resumeProject.projectUrl">Project Url</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let resumeProject of resumeProjects ;trackBy: trackId">
                <td><a [routerLink]="['../resume-project', resumeProject.id ]">{{resumeProject.id}}</a></td>
                <td>{{resumeProject.resumeId}}</td>
                <td>{{resumeProject.projectName}}</td>
                <td>{{resumeProject.positionName}}</td>
                <td>{{resumeProject.startDate | date:'mediumDate'}}</td>
                <td>{{resumeProject.endDate | date:'mediumDate'}}</td>
                <td>{{resumeProject.projectRemark}}</td>
                <td>{{resumeProject.projectUrl}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../resume-project', resumeProject.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'resume-project/'+ resumeProject.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'resume-project/'+ resumeProject.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
