<div>
    <h2>
        <span jhiTranslate="haipinApp.resumeExpect.home.title">Resume Expects</span>
        <button class="btn btn-primary float-right create-resume-expect" [routerLink]="['/', { outlets: { popup: ['resume-expect-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="haipinApp.resumeExpect.home.createLabel">
            Create new Resume Expect
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="resumeExpects">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="haipinApp.resumeExpect.resumeId">Resume Id</span></th>
            <th><span jhiTranslate="haipinApp.resumeExpect.positionName">Position Name</span></th>
            <th><span jhiTranslate="haipinApp.resumeExpect.positionType">Position Type</span></th>
            <th><span jhiTranslate="haipinApp.resumeExpect.city">City</span></th>
            <th><span jhiTranslate="haipinApp.resumeExpect.salarys">Salarys</span></th>
            <th><span jhiTranslate="haipinApp.resumeExpect.addExplain">Add Explain</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let resumeExpect of resumeExpects ;trackBy: trackId">
                <td><a [routerLink]="['../resume-expect', resumeExpect.id ]">{{resumeExpect.id}}</a></td>
                <td>{{resumeExpect.resumeId}}</td>
                <td>{{resumeExpect.positionName}}</td>
                <td>{{resumeExpect.positionType}}</td>
                <td>{{resumeExpect.city}}</td>
                <td>{{resumeExpect.salarys}}</td>
                <td>{{resumeExpect.addExplain}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../resume-expect', resumeExpect.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'resume-expect/'+ resumeExpect.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'resume-expect/'+ resumeExpect.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
